{% extends "index.html" %}
{% load static %}
{% block title %} iLovePDF | Online PDF Tools for PDF Lovers {% endblock title %}
{% block homeactive  %}active{% endblock homeactive  %}

{% block css %}
<style>
    a:hover{
        text-decoration:none;
    }
    .shadows{
        box-shadow:0px 0px 10px 0px #888888;
    }
</style>
{% endblock css %}


{% block body %}
    <!-- Header Start -->
    <div class="jumbotron jumbotron-fluid mb-5">
        <div class="container text-center py-5">
            <h2 class="text-white font-weight-bold mb-2">Every tool you need to work with PDFs in one place</h2>
            <p class="text-white  mb-5" style="font-size:20px;">Every tool you need to use PDFs, at your fingertips. All are 100% FREE and easy to use! Merge, split, compress, convert, rotate, unlock and watermark PDFs with just a few clicks.</p>
        </div>
    </div>
    <!-- Header End -->

    <!-- Services Start -->
    <div class="container-fluid pt-5 pl-5 pr-5 my mb-4" >
            <div class="row  shadows">
                <div class="col-lg-2 col-md-6 p-4 my-row">
                        <a href="/merge_pdf">
                            <div class="d-flex  mb-2 p-2">
                                <i class="fa fa-2x fa-plane text-danger pr-0"></i>
                            </div>
                            <h5>Merge PDF</h5>
                            <small>Diam amet eos at no eos sit lorem, amet rebum ipsum Diam amet eos at no eos sit lorem, amet rebum ipsum</small>
                        </a>
                </div>
                <div class="col-lg-2 col-md-6  p-4  my-row">
                    <div class="d-flex mb-2 p-2">
                        <i class="fa fa-2x fa-ship text-dark pr-0"></i>
                    </div>
                    <h5>Merge PDF</h5>
                    <small>Diam amet eos at no eos sit lorem, amet rebum ipsum</small>
                </div>
                <div class="col-lg-2 col-md-6 p-4   my-row">
                    <div class="d-flex mb-2 p-2">
                        <i class="fa fa-2x fa-truck text-dark pr-0"></i>
                    </div>
                    <h5>Merge PDF</h5>
                    <small>Diam amet eos at no eos sit lorem, amet rebum ipsumDiam amet eos at no eos sit lorem, amet rebum ipsum</small>
                </div>
                <div class="col-lg-2 col-md-6 p-4  my-row">
                    <div class="d-flex mb-2 p-2">
                        <i class="fa fa-2x fa-store text-dark pr-0"></i>
                    </div>
                    <h5>Merge PDF</h5>
                    <small>Diam amet eos at no eos sit lorem, amet rebum ipsum</small>
                </div>
                <div class="col-lg-2 col-md-6 p-4   my-row">
                    <div class="d-flex mb-2 p-2">
                        <i class="fa fa-2x fa-store text-dark pr-0"></i>
                    </div>
                    <h5>Merge PDF</h5>
                    <small>Diam amet eos at no eos sit lorem, amet rebum ipsum</small>
                </div>
                <div class="col-lg-2 col-md-6 p-4  my-row">
                    <div class="d-flex mb-2 p-2">
                        <i class="fa fa-2x fa-store text-dark pr-0"></i>
                    </div>
                    <h5>Merge PDF</h5>
                    <small>Diam amet eos at no eos sit lorem, amet rebum ipsum</small>
                </div>
                <div class="col-lg-2 col-md-6 p-4 my-row">
                    <div class="d-flex  mb-2 p-2">
                        <i class="fa fa-2x fa-plane text-danger pr-0"></i>
                    </div>
                    <h5>Merge PDF</h5>
                    <small>Diam amet eos at no eos sit lorem, amet rebum ipsum</small>
                </div>
                <div class="col-lg-2 col-md-6  p-4  my-row">
                    <div class="d-flex mb-2 p-2">
                        <i class="fa fa-2x fa-ship text-dark pr-0"></i>
                    </div>
                    <h5>Merge PDF</h5>
                    <small>Diam amet eos at no eos sit lorem, amet rebum ipsum</small>
                </div>
                <div class="col-lg-2 col-md-6 p-4   my-row">
                    <div class="d-flex mb-2 p-2">
                        <i class="fa fa-2x fa-truck text-dark pr-0"></i>
                    </div>
                    <h5>Merge PDF</h5>
                    <small>Diam amet eos at no eos sit lorem, amet rebum ipsum</small>
                </div>
                <div class="col-lg-2 col-md-6 p-4  my-row">
                    <div class="d-flex mb-2 p-2">
                        <i class="fa fa-2x fa-store text-dark pr-0"></i>
                    </div>
                    <h5>Merge PDF</h5>
                    <small>Diam amet eos at no eos sit lorem, amet rebum ipsum Diam amet eos at no eos sit lorem, amet rebum ipsum</small>
                </div>
                <div class="col-lg-2 col-md-6 p-4   my-row">
                    <div class="d-flex mb-2 p-2">
                        <i class="fa fa-2x fa-store text-dark pr-0"></i>
                    </div>
                    <h5>Merge PDF</h5>
                    <small>Diam amet eos at no eos sit lorem, amet rebum ipsum</small>
                </div>
                <div class="col-lg-2 col-md-6 p-4  my-row">
                    <div class="d-flex mb-2 p-2">
                        <i class="fa fa-2x fa-store text-dark pr-0"></i>
                    </div>
                    <h5>Merge PDF</h5>
                    <small>Diam amet eos at no eos sit lorem, amet rebum ipsum</small>
                </div>
            </div>
    </div>
    <!-- Services End -->

    <!-- About Start -->
    <div class="container-fluid py-5 mt-5" style="background:white;">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5 pb-4 pb-lg-0 pr-4">
                    <img class="img-fluid w-100" src="{% static 'img/homepage-product-2.png'%}" alt="">
                    
                </div>
                <div class="col-lg-7 pl-5">
                    <p class="mb-4" style="font-size:30px; color:black;">Looking for another solution?</p>
                    <div class="p-3 infodiv">
                        <h5>iLovePDF Desktop</h5>
                        <p class="mb-4">Download <a href="/desktop">iLovePDF Desktop</a> App to work with your favourite PDF tools on your Mac or Windows PC. Get a lightweight PDF app that helps you process heavy PDF tasks offline in seconds.</p>
                    </div>
                    <div class="p-3 infodiv">
                        <h5>iLovePDF Desktop</h5>
                        <p class="mb-4">Download <a href="/">iLovePDF Desktop</a> App to work with your favourite PDF tools on your Mac or Windows PC. Get a lightweight PDF app that helps you process heavy PDF tasks offline in seconds.</p>
                    </div>
                    <div class="p-3 infodiv">
                        <h5>iLovePDF Desktop</h5>
                        <p class="mb-4">Download <a href="/">iLovePDF Desktop</a> App to work with your favourite PDF tools on your Mac or Windows PC. Get a lightweight PDF app that helps you process heavy PDF tasks offline in seconds.</p>
                    </div>
                   
                </div>
            </div>
        </div>
        
    </div>
    <!-- About End -->

    <!-- Home info Start -->
    <div class="container-fluid  p-5" style="background:#f2f3f8;">
        <div class="container mt-5">
            <div class="text-center pb-2">
                <p class="mb-0" style="font-size:30px;color:black;">The PDF software trusted by millions of users</p>
                <p class="mb-4" style="font-size:20px;">iLovePDF is your number 1 web app for editing PDF with ease. Enjoy all the tools you need to work efficiently with your digital documents while keeping your data safe and secure</p>
            </div>

            <div class="row pb-3 mt-4">
                <div class="col-lg-4 col-md-4 text-center mb-5">
                    <div class="d-flex align-items-center justify-content-center mb-4">
                        <i class="fa fa-2x fa-plane text-dark pr-0"></i>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 text-center mb-5">
                    <div class="d-flex align-items-center justify-content-center  mb-4">
                        <i class="fa fa-2x fa-ship text-dark pr-0"></i>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 text-center mb-5">
                    <div class="d-flex align-items-center justify-content-center mb-4 ">
                        <i class="fa fa-2x fa-truck text-dark pr-0"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Home info End -->

    <!-- Premium info Start -->
    <div class="container-fluid  p-5" style="background:#383e45; color:white;">
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-8">
                    <div class=" pb-2">
                        <p class="mb-0 font-weight-bold" style="font-size:30px;">Get more with Premium</p>
                        <p class="mb-4" style="font-size:22px;">Complete projects faster with batch file processing, convert scanned documents with OCR and e-sign your business agreements.</p>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="d-flex align-items-center justify-content-center mb-4 mt-4">
                        <button class="btn btn-yellow">Get Premium</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Premium info End -->
{% endblock body %}


{% block script %}
{% endblock script %}