{% load static %}
<!-- Footer Start -->
<div class="container-fluid text-dark py-5 px-sm-3 px-md-5" style="background:#f6f6f8;">
    <div class="container">
        <div class="row pt-5">
                    <div class="col-md-3 mb-5">
                        <p class="text-danger mb-2 text-uppercase">iLovePDF</p>
                        <div class="d-flex flex-column justify-content-start">
                            <a class="text-dark mb-2" href="#">Home</a>
                            <a class="text-dark mb-2" href="#">About Us</a>
                            <a class="text-dark mb-2" href="#">Services</a>
                            <a class="text-dark mb-2" href="#">Pricing Plan</a>
                            <a class="text-dark" href="#">Contact Us</a>
                        </div>
                    </div>
                    <div class="col-md-3 mb-5">
                        <p class="text-danger mb-2 text-uppercase">Product</p>
                        <div class="d-flex flex-column justify-content-start">
                            <a class="text-dark mb-2" href="#">Home</a>
                            <a class="text-dark mb-2" href="#">About Us</a>
                            <a class="text-dark mb-2" href="#">Services</a>
                            <a class="text-dark mb-2" href="#">Pricing Plan</a>
                            <a class="text-dark" href="#">Contact Us</a>
                        </div>
                    </div>
                    <div class="col-md-3 mb-5">
                        <p class="text-danger mb-2 text-uppercase">Solution</p>
                        <div class="d-flex flex-column justify-content-start">
                            <a class="text-dark mb-2" href="#">Business</a>
                            <a class="text-dark mb-2" href="#">Educatuion</a>
                        </div>
                    </div>
                    <div class="col-md-3 mb-5">
                        <p class="text-danger mb-2 text-uppercase">Company</p>
                        <div class="d-flex flex-column justify-content-start">
                            <a class="text-dark mb-2" href="#">iHome</a>
                            <a class="text-dark mb-2" href="#">About Us</a>
                            <a class="text-dark mb-2" href="#">Services</a>
                            <a class="text-dark mb-2" href="#">Pricing Plan</a>
                            <a class="text-dark" href="#">Contact Us</a>
                        </div>
                    </div>
        </div>
    </div>
</div>


<div class="container-fluid text-dark" style="background:#f6f6f8;">
    <div class="container border-top py-4 px-sm-3 px-md-5" style="border-color: #8f8f97 !important;">
        <div class="row">
            <div class="col-lg-6 text-left mb-3 mb-md-0">
                <p class="text-left">English</p>
                
            </div>
            <div class="col-lg-6  text-right">
                <p class="m-0 text-right text-dark">&copy; iLovePDF 2022 - Your PDF Editor. </p>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->