{% extends "index.html" %}
{% load static %}
{% block title %} iLovePDF | Online PDF Tools for PDF Lovers {% endblock title %}
{% block homeactive  %}active{% endblock homeactive  %}

{% block css %}
{% endblock css %}


{% block body %}
<!-- Home info Start -->
<div class="container-fluid mt-5 p-5" style="background:#f2f3f8;">
    <div class="container mt-5">
        <div class="text-center pb-2">
            <p class="mb-0" style="font-size:30px;color:black;">The PDF software trusted by millions of users</p>
            <p class="mb-4" style="font-size:20px;">iLovePDF is your number 1 web app for editing PDF with ease. Enjoy all the tools you need to work efficiently with your digital documents while keeping your data safe and secure</p>
        </div>

        <div class="row pb-3 mt-4">
            <div class="col-lg-4 col-md-4 text-center mb-5">
                <div class="d-flex align-items-center justify-content-center mb-4">
                    <i class="fa fa-2x fa-plane text-dark pr-0"></i>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 text-center mb-5">
                <div class="d-flex align-items-center justify-content-center  mb-4">
                    <i class="fa fa-2x fa-ship text-dark pr-0"></i>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 text-center mb-5">
                <div class="d-flex align-items-center justify-content-center mb-4 ">
                    <i class="fa fa-2x fa-truck text-dark pr-0"></i>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Home info End -->
{% endblock body %}


{% block script %}
{% endblock script %}