{% extends "index.html" %}
{% load static %}
{% block title %} iLovePDF | Online PDF Tools for PDF Lovers {% endblock title %}
{% block homeactive  %}active{% endblock homeactive  %}

{% block css %}
<style>
    button{
        padding:10px;
        font-size:35px;
    }
</style>
{% endblock css %}


{% block body %}
<!-- Home info Start -->
<div class="container-fluid mt-3 p-5" style="background:#f3f0ec;">
    <div class="container mt-5">
        <div class="text-center pb-2">
            <!-- <p class="mb-0" style="font-size:50px;color:black;">Merge PDF files </p> -->
            <h1 class="mb-0">Merge PDF files </h1>
            <p class="mb-4" style="font-size:20px;">Combine PDFs in the order you want with the easiest PDF merger available.</p>
        </div>

        <div class="row pb-3 mt-4">
            <div class="col-lg-12 col-md-12 text-center mb-5">
                <input type="file" id="myFileInput" class="d-none" />
                <button class="btn btn-primary mb-3"
                    style=" border-radius:5px; 
                        padding:10;
                        font-size:30px;"
                    onclick="document.getElementById('myFileInput').click()"
                >
                Select PDF Files
            </button><br>
            <small> or drop PDFs here.</small>
            </div>
             <!-- For adsensce  -->
            <div class="container">
                
            </div>
        </div>
    </div>
</div>
<!-- Home info End -->
{% endblock body %}


{% block script %}
{% endblock script %}